In [1]:
# коннекция к базе данных
# импортируем библиотеки

#!/usr/bin/python
# -*- coding: utf-8 -*-

import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [22]:
# выполнение запроса и сохранение результата в переменную
query = '''SELECT *
           FROM dash_visits
        '''
dash_visits = pd.io.sql.read_sql(query, con = engine, index_col = 'record_id')
dash_visits.head(10)

          item_topic source_topic age_segment                  dt  visits
record_id
1040597       Деньги         Авто       18-25 2019-09-24 18:32:00       3
1040598       Деньги         Авто       18-25 2019-09-24 18:35:00       1
1040599       Деньги         Авто       18-25 2019-09-24 18:54:00       4
1040600       Деньги         Авто       18-25 2019-09-24 18:55:00      17
1040601       Деньги         Авто       18-25 2019-09-24 18:56:00      27
1040602       Деньги         Авто       18-25 2019-09-24 18:57:00      22
1040603       Деньги         Авто       18-25 2019-09-24 18:58:00      24
1040604       Деньги         Авто       18-25 2019-09-24 18:59:00      20
1040605       Деньги         Авто       18-25 2019-09-24 19:00:00       5
1040606       Деньги         Авто       26-30 2019-09-24 18:29:00       1

In [8]:
# формирование файла для подключения к Tableau
dash_visits.to_csv('dash_visits.csv', index=True)

In [23]:
# общая информация о полученном файле
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30745 entries, 1040597 to 1071341
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   item_topic    30745 non-null  object
 1   source_topic  30745 non-null  object
 2   age_segment   30745 non-null  object
 3   dt            30745 non-null  datetime64[ns]
 4   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.4+ MB

In [14]:
total_visits = dash_visits['visits'].sum()
other_criteria = total_visits / 100 * 2
other_criteria

6204.14

In [26]:
source_topic_grouped = dash_visits.pivot_table(index = 'source_topic', values = 'visits', aggfunc = 'sum').sort_values(by = 'visits', ascending = False).reset_index()
source_topic_grouped['percentage'] = source_topic_grouped['visits'] / source_topic_grouped['visits'].sum() * 100
display(source_topic_grouped)
source_topic_grouped['percentage'].median()

          source_topic  visits  percentage
0   Семейные отношения   33309   10.737669
1               Россия   29831    9.616482
2      Полезные советы   27412    8.836680
3          Путешествия   24124    7.776743
4         Знаменитости   23945    7.719039
5                 Кино   20084    6.474386
6                 Дети   15243    4.913816
7              История   14628    4.715561
8                Семья   13896    4.479589
9             Здоровье   12831    4.136270
10              Одежда   11895    3.834536
11                Авто    9567    3.084070
12           Искусство    8001    2.579245
13          Сад и дача    7470    2.408069
14            Политика    7341    2.366484
15                 Еда    6892    2.221742
16          Сделай сам    6287    2.026711
17          Психология    5730    1.847154
18              Ремонт    5699    1.837160
19               Спорт    5253    1.693385
20              Деньги    5157    1.662438
21           Интерьеры    3614    1.165029
22          Технологии    3501    1.128601
23       Строительство    3000    0.967096
24              Музыка    2869    0.924866
25             Финансы    2628    0.847176

2.493657460985729

In [24]:
source_topic_grouped.to_csv('source_topic_group.csv', index=True)

In [25]:
dash_visits['percentage'] = dash_visits['visits'] / dash_visits['visits'].sum() * 100
dash_visits.head(10)

,item_topic,source_topic,age_segment,dt,visits,percentage
record_id,,,,,,
1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3,0.000967
1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1,0.000322
1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4,0.001289
1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17,0.005480
1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27,0.008704
1040602,Деньги,Авто,18-25,2019-09-24 18:57:00,22,0.007092
1040603,Деньги,Авто,18-25,2019-09-24 18:58:00,24,0.007737
1040604,Деньги,Авто,18-25,2019-09-24 18:59:00,20,0.006447
1040605,Деньги,Авто,18-25,2019-09-24 19:00:00,5,0.001612
1040606,Деньги,Авто,26-30,2019-09-24 18:29:00,1,0.000322

In [21]:
dash_visits.to_csv('dash_visits.csv', index=True)